<div class="modal-overlay">
  <div class="glass-panel modal-content">
    <div class="modal-header">
      <h2>Change Password</h2>
      <button class="btn-close" (click)="closeModal()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </button>
    </div>
    
    <div class="modal-body">
      <form (ngSubmit)="onSubmit()" #passForm="ngForm">
        <div class="input-group">
          <label>Current Password</label>
          <input type="password" name="oldPass" [(ngModel)]="oldPassword" required placeholder="Enter current password">
        </div>
        
        <div class="input-group">
          <label>New Password</label>
          <input type="password" name="newPass" [(ngModel)]="newPassword" required placeholder="Enter new password">
        </div>
        
        <div class="input-group">
          <label>Confirm New Password</label>
          <input type="password" name="confPass" [(ngModel)]="confirmPassword" required placeholder="Confirm new password">
        </div>
        
        <div *ngIf="message" [class.success]="!isError" [class.error]="isError" class="message-box">
          {{ message }}
        </div>
        
        <div class="modal-footer">
          <button type="submit" class="btn-primary" [disabled]="isLoading">
            {{ isLoading ? 'Updating...' : 'Change Password' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
