<div class="profile">
{{username}}
</div>

<div class="search">
  <input type="text" [(ngModel)]="searchQuery" placeholder="Search..." >

</div>

<div class="list">
  <div *ngFor="let friend of friendList" (click)="textTo(friend)" [ngClass]="{active: activeFrien==friend}">
    <strong>{{ friend }}</strong>
  </div>
</div>
<div class="add-friend">
  <a (click)="openPopup()">
    <svg *ngIf="x == 0" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg>
    <p *ngIf="x != 0">{{x}}</p>
  </a>
</div>
<div class="logout">
  <a (click)="logout()">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-power" viewBox="0 0 16 16">
      <path d="M7.5 1v7h1V1h-1z"/>
      <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z"/>
    </svg>
  </a>
</div>

<app-friendpop [isOpen]="isPopupOpen" (close)="closePopup()" (friendReqs)="onFriendRequest($event)" >

</app-friendpop>
