<div class="popup-overlay" [ngClass]="{popupactive: isOpen }">
  <div class="popup">
    <!-- <ul>
      <li *ngFor="let frd of friendReq">
          {{frd}}
      </li>
    </ul> -->


    <div class="popup-buttons">
      <button (click)="close.emit()"><i class="bi bi-x-circle"></i></button>
    </div>
    <div class="search">
      
        <input type="text" [(ngModel)]="searchQuery" placeholder="Search..." (ngModelChange)="onSearch()">

    </div>

    <div class="friendreq" [ngClass]="{display: !reqsAvailable}">
      <h5> Friend Requests </h5>
      <div class="reqlist" *ngFor="let frd of friendReq">
           <div class="reqname">
            {{frd}}
           </div>

           <div class="reqbutton">

            <button (click)="acceptFriend(frd)">Accept</button>
            <button (click)="rejectFriend(frd)">Reject</button>
           </div>
      </div>
    </div>

    <div class="globaluser" [ngClass]="{fulldisplay : !reqsAvailable}">
      <div *ngFor="let user of searchResults">
        {{user}}
      </div>
    </div>

  </div>
</div>
