.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.popupactive {
  display: flex!important;
  z-index: 100 !important;
}

.popup {
  background-color: #fff;
  /* padding: 20px; */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 40vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  position: relative;

}

.popup h2 {
  margin-top: 0;
}

.popup-buttons {
  position: absolute;
  top: 5px;
  right: 5px;
  /* margin-top: 5px; */
}

.popup-buttons button {
  padding: 5px 10px;
  background:transparent;
  color: black;
  border: none;
  cursor: pointer;
}

.search{
  width: 100%;
  height: 10vh; 
  /* background-color: #007bff; */
  border-radius: 5px 5px 0px 0px;


}
.friendreq{
  width: 100%;
  height: 30vh; 
  /* background-color: #275b93; */

}
.globaluser{
  width: 100%;
  height: 40vh; 
  /* background-color: #82aedd; */
  /* border-radius: 0px 0px 5px 5px; */

}
.reqlist{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.reqlist button{
  color: #000;
  background: transparent;
  border: none;
}
.search input{
  padding: 10px;
  margin-right: 1vw;
  margin-top: 2vh;
  width: 80%;
  height: 5vh;
  border: none; 
  outline: none;
  background-color: rgba(191, 195, 196, 0.227);
  color: #041d39;
  font-size: larger;
  border-radius: 5px;
}
.display{
  display: none !important;
}
.fulldisplay{
  height: 70vh !important;
}