<div class="popup-overlay" [ngClass]="{popupactive: isOpen }">
  <div class="popup">
    <!-- <ul>
      <li *ngFor="let frd of friendReq">
          {{frd}}
      </li>
    </ul> -->


    <div class="popup-buttons">
      <button (click)="close.emit()"><i class="bi bi-x-circle"></i></button>
    </div>
    <div class="search">
      
        <input type="text" [(ngModel)]="searchQuery" placeholder="Search..." (ngModelChange)="onSearch()">

    </div>

    <div class="friendreq" [ngClass]="{display: !reqsAvailable}">
      <h5> Friend Requests </h5>
      <div class="reqlist" *ngFor="let frd of friendReq; let i = index">
           <div class="reqname">
            {{frd}}
           </div>

           <div class="reqbutton">

            <button (click)="acceptFriend(frd,i)"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-check-lg" viewBox="0 0 16 16">
              <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
            </svg></button>
            <button (click)="rejectFriend(frd,i)"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-x" viewBox="0 0 16 16">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg></button>
           </div>
      </div>
    </div>

    <div class="globaluser" [ngClass]="{fulldisplay : !reqsAvailable}">
      <div class="globelist" *ngFor="let user of searchResults">
        
        <div class="usrname">
          {{user}}
        </div>
        <div>
          <button *ngIf="isSent(user)"  (click)="addReq(user)"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
          </svg></button>
        </div>

      </div>
    </div>

  </div>
</div>
<!-- *ngIf="(sentReq$ | async)?.includes(user)" -->