.message-header{
  width: 100%;
  height: 9.5vh;
  background-color: #fcfdfe;
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px;

}
.message-content{
  width: 100%;
  height: 76vh;
  overflow-y: auto;
  display:flex;
  flex-direction: column-reverse;
  /* align-items: flex-end;  */

}
.send{
  width: 100%;
  height: 9.5vh;
  background-color: #fcfdfed4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px;

}

.send-message{
  margin-top: 1vh;
  margin-left: 2.5%;
  height: 7vh;
  width: 77.5%;
  background-color: #a9a9a97b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.send-button{
  height: 9.5vh;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.send-message input {
  padding: 10px;
  margin-top: 1vh;
  width: 100%;
  height: 6vh;
  border: none; 
  outline: none;
  background-color: transparent;
  color: #041d39;
  font-size: larger;
}
.send-button a {
  cursor: pointer;
  padding: 10px;
}
.send-button button{
  border: none;
  background-color: transparent;
  color: rgb(0, 102, 255); /* Customize text color */
  font-size: inherit;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.message-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.message-li {
  /* right: 0; */
  text-align: right;
  margin-right: 10px;
  margin-bottom: 10px;
}

.messageotherend{
  text-align: left !important;
  margin-left: 10px;
}
