<!--
<div class="log-container">
<div class="container mt-5 log-form" >
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header ch">
          Login
        </div>
        <div class="card-body cb">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="userid" class="form-label">User ID</label>
              <input type="text" id="userid" class="form-control" formControlName="userid">
              <div *ngIf="loginForm.get('userid')?.invalid && loginForm.get('userid')?.touched">
                <div  *ngIf="loginForm.get('userid')?.errors">
                    <label class="warne">*UserID required</label>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" id="password" class="form-control" formControlName="passwordhash">
              <div *ngIf="loginForm.get('passwordhash')?.invalid && loginForm.get('passwordhash')?.touched">
                <div  *ngIf="loginForm.get('passwordhash')?.errors">
                    <label class="warne">*Password required</label>
                </div>
              </div>
            </div>
            <div *ngIf="errorMes != null">
              <label class="warne">{{errorMes}}</label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between">
            <a href="#" class="text-muted">Forgot Password?</a>
            <button class="btn btn-link" >Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div> -->


<div class="log-container">

  <div class="theme">
    <div class="bubble">
        <strong> Bubble <br> Chat</strong>
    </div>
  </div>

  <div class="content">
        <form *ngIf="!signup" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="log-input">
          <label for="userid" class="loglabel">User </label><br>
          <input type="text" id="userid" formcontrolname="userid" placeholder="UserId" ng-reflect-name="userid" class="ng-untouched ng-pristine ng-invalid" autocomplete="username">
          <div *ngIf="loginForm.get('userid')?.invalid && loginForm.get('userid')?.touched">
            <div  *ngIf="loginForm.get('userid')?.errors">
                <label class="warne">*UserID required</label>
            </div>
          </div>
          </div>
          <div class="log-input">
          <label for="password" class="loglabel">Password</label><br>
          <input type="password" id="password" formcontrolname="passwordhash" placeholder="Password" ng-reflect-name="passwordhash" class="ng-untouched ng-pristine ng-invalid" autocomplete="current-password">

          <div *ngIf="loginForm.get('passwordhash')?.invalid && loginForm.get('passwordhash')?.touched">
            <div  *ngIf="loginForm.get('passwordhash')?.errors">
                <label class="warne">*Password required</label>
            </div>
          </div>
          <div *ngIf="errorMes != null">
            <label class="warne">{{errorMes}}</label>
          </div>
          </div>
          <button type="submit" class="formbutton">Login</button>
        </form>
        <!--  -->
        <!-- Sign UP -->
        <!--  -->
        <form *ngIf="signup" [formGroup]="signForm" (ngSubmit)="onSignSubmit()" >
          <div class="log-input">
            <label for="userid" class="loglabel">User </label><br>
            <input type="text" id="userid" class="" formControlName="userid" placeholder="UserId" autocomplete="username">
            <div *ngIf="signForm.get('userid')?.invalid && signForm.get('userid')?.touched">
              <div  *ngIf="signForm.get('userid')?.errors">
                  <label class="warne">*UserID required</label>
              </div>
            </div>
          </div>
          <div class="log-input">
            <label for="username" class="loglabel">User Name </label><br>
            <input type="text" id="username" class="" formControlName="username" placeholder="User Name" autocomplete="username">
            <div *ngIf="signForm.get('username')?.invalid && signForm.get('username')?.touched">
              <div  *ngIf="signForm.get('username')?.errors">
                  <label class="warne">*User Name required</label>
              </div>
            </div>
          </div>
          <div class="log-input">
            <label for="password" class="loglabel">Password </label><br>
            <input type="password" id="password" class="" formControlName="password" placeholder="Password" autocomplete="current-password">
            <div *ngIf="signForm.get('password')?.invalid && signForm.get('password')?.touched">
              <div  *ngIf="signForm.get('password')?.errors">
                  <label class="warne">*Password required</label>
              </div>
            </div>
          </div>
          <div class="log-input">
            <label for="conpassword" class="loglabel">Confirm Password </label><br>
            <input type="password" id="conpassword" class="" formControlName="conpassword" placeholder="Confirm Password" autocomplete="new-password">
            <div *ngIf="signForm.get('conpassword')?.invalid && signForm.get('conpassword')?.touched">
              <div  *ngIf="signForm.get('conpassword')?.errors">
                  <label class="warne">*Password couldn't match!</label>
              </div>
            </div>
            <div *ngIf="errorMes != null">
              <label class="warne">{{errorMes}}</label>
            </div>
            <div *ngIf="message != null">
              <label class="warne">{{message}}</label>
            </div>
          </div>
          <button type="submit" class="formbutton">Sign Up</button>
        </form>
        <div class="signup">
          <button *ngIf="!signup" class="formbutton" (click)="signupTri()">Sign Up</button>
          <button *ngIf="signup" class="formbutton" (click)="signupTri()">Back</button>
        </div>
  </div>

</div>
