.warne{
  color: red;
}

.log-container
{
  padding-top: 20vh !important;
  width: 100vw;
  height: 100vh;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,0.3) 0%, rgba(148,187,233,0.3931547619047619) 100%);

}

/* .log-form{



} */

