
<div class="log-container">

  <div class="theme">
    <div class="bubble">
        <strong> Bubble <br> Chat</strong>
    </div>
  </div>

  <div class="content">
        <form *ngIf="!signup" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="log-input">
          <label for="userid" class="loglabel">User </label><br>
          <input type="text" id="userid" formControlName="userid" placeholder="UserId" autocomplete="username">
          <div *ngIf="loginForm.get('userid')?.invalid && loginForm.get('userid')?.touched">
            <div  *ngIf="loginForm.get('userid')?.errors">
                <label class="warne">*UserID required</label>
            </div>
          </div>
          </div>
          <div class="log-input">
          <label for="password" class="loglabel">Password</label><br>
          <input type="password" id="password" formControlName="passwordhash" placeholder="Password" autocomplete="current-password">
          <div *ngIf="loginForm.get('passwordhash')?.invalid && loginForm.get('passwordhash')?.touched">
            <div  *ngIf="loginForm.get('passwordhash')?.errors">
                <label class="warne">*Password required</label>
            </div>
          </div>
          <div *ngIf="errorMes != null">
            <label class="warne">{{errorMes}}</label>
          </div>
          </div>
          <button type="submit" class="formbutton">Login</button>
        </form>
        <!--  -->
        <!-- Sign UP -->
        <!--  -->
        <form *ngIf="signup" [formGroup]="signForm" (ngSubmit)="onSignSubmit()" >
          <div class="log-input">
            <label for="userid" class="loglabel">User </label><br>
            <input type="text" id="userid" class="" formControlName="userid" placeholder="UserId" autocomplete="username">
            <div *ngIf="signForm.get('userid')?.invalid && signForm.get('userid')?.touched">
              <div  *ngIf="signForm.get('userid')?.errors">
                  <label class="warne">*UserID required</label>
              </div>
            </div>
          </div>
          <div class="log-input">
            <label for="username" class="loglabel">User Name </label><br>
            <input type="text" id="username" class="" formControlName="username" placeholder="User Name" autocomplete="username">
            <div *ngIf="signForm.get('username')?.invalid && signForm.get('username')?.touched">
              <div  *ngIf="signForm.get('username')?.errors">
                  <label class="warne">*User Name required</label>
              </div>
            </div>
          </div>
          <div class="log-input">
            <label for="password" class="loglabel">Password </label><br>
            <input type="password" id="password" class="" formControlName="password" placeholder="Password" autocomplete="current-password">
            <div *ngIf="signForm.get('password')?.invalid && signForm.get('password')?.touched">
              <div  *ngIf="signForm.get('password')?.errors">
                  <label class="warne">*Password required</label>
              </div>
            </div>
          </div>
          <div class="log-input">
            <label for="conpassword" class="loglabel">Confirm Password </label><br>
            <input type="password" id="conpassword" class="" formControlName="conpassword" placeholder="Confirm Password" autocomplete="new-password">
            <div *ngIf="signForm.get('conpassword')?.hasError('confirmPasswordMismatch') && signForm.get('conpassword')?.touched">
              <label class="warne">*Passwords do not match!</label>
            </div>
            <div *ngIf="errorMes != null">
              <label class="warne">{{errorMes}}</label>
            </div>
            <div *ngIf="message != null">
              <label class="warne">{{message}}</label>
            </div>
          </div>
          <button type="submit" class="formbutton">Sign Up</button>
        </form>
        <div class="signup">
          <button *ngIf="!signup" class="formbutton" (click)="signupTri()">Sign Up</button>
          <button *ngIf="signup" class="formbutton" (click)="signupTri()">Back</button>
        </div>
  </div>

</div>
