<div class="forgot-pass-container">
  <div class="forTheme">
      <div class="bubble">
        <div class="eyes">
          <div class="eye">
              <div class="pupil pupil-left"></div>
          </div>
          <div class="eye right">
              <div class="pupil pupil-right"></div>
          </div>
        </div>
        <div class="mouth"></div>
      </div>
  </div>
  <div class="forCont">
      <p>
      Please enter the email of your account. We will send you a link to reset your password.
    </p>
<br/>
    <form [formGroup]="forgotPassForm" (ngSubmit)="onSubmit()">
      <div class="log-input">
        <label for="email" class="loglabel">Email </label><br>
        <input type="email" id="email" formControlName="email" placeholder="Email" autocomplete="username">
        <div *ngIf="forgotPassForm.get('email')?.invalid && forgotPassForm.get('email')?.touched">
          <div *ngIf="forgotPassForm.get('email')?.errors">
            <label class="warne">*Email required</label>
          </div>
        </div>
      </div>
      <button type="submit" class="formbutton">Submit</button>
    </form>

  </div>
</div>


