<div class="forgot-pass-container">
  <div class="forTheme">
      <div class="bubble">
        <div class="eyes">
          <div class="eye">
              <div class="pupil pupil-left"></div>
          </div>
          <div class="eye right">
              <div class="pupil pupil-right"></div>
          </div>
        </div>
        <div class="mouth"></div>
      </div>
  </div>
  <div class="forCont">
      <p *ngIf="!sendOtp">
      Please enter the email of your account. We will send you otp to your email.
    </p>
    <p *ngIf="sendOtp && !setNewPass">
      Please enter the otp we have provided to your email.
    </p>
    <p *ngIf="sendOtp && setNewPass">
      Change your password.
    </p>
<br/>
    <form *ngIf="!sendOtp" [formGroup]="forgotPassForm" (ngSubmit)="onSubmit()">
      <div class="log-input">
        <label for="email" class="loglabel">Email </label><br>
        <input type="email" id="email" formControlName="email" placeholder="Email" autocomplete="username">
        <div *ngIf="forgotPassForm.get('email')?.invalid && forgotPassForm.get('email')?.touched">
          <div *ngIf="forgotPassForm.get('email')?.errors">
            <label class="warne">*Email required</label>
          </div>
        </div>
        <div *ngIf="responseText!=null">
          <label class="warne" >*{{responseText}}</label>
        </div>
      </div>
      <button type="submit" class="formbutton" [disabled]="emailSub">Submit</button>
    </form>
    <form *ngIf="sendOtp && !setNewPass" [formGroup]="otpForm" (ngSubmit)="onSubmitOtp()">
      <div class="log-input">
        <label for="otp" class="loglabel">Otp </label><br>
        <input type="text" id="otp" formControlName="otp" placeholder="Otp" autocomplete="username">
        <div *ngIf="otpForm.get('otp')?.invalid && otpForm.get('otp')?.touched">
          <div *ngIf="otpForm.get('otp')?.errors">
            <label class="warne">*Enter OTP</label>
          </div>
        </div>
        <br>
        <label class="warne" >*{{secondsToMinutes(time)}} minutes {{remainingSeconds(time)}} seconds</label>
        <div *ngIf="otpResponse!=null">
          <label class="warne" >*{{otpResponse}}</label>
        </div>
      </div>
      <button [disabled]="otpSub" type="submit" class="formbutton">Submit</button>
    </form>
    <!-- new Pssword -->
    <form *ngIf="sendOtp && setNewPass" [formGroup]="newPassForm" (ngSubmit)="onSubmitPass()">
      <div class="log-input">
        <label for="new" class="loglabel">New Password </label><br>
        <input type="text" id="new" formControlName="newPass" placeholder="New password" autocomplete="current-password">
        <div *ngIf="newPassForm.get('newPass')?.invalid && newPassForm.get('newPass')?.touched">
          <div *ngIf="newPassForm.get('newPass')?.errors">
            <label class="warne">*Enter new password</label>
          </div>
        </div>
        <div class="log-input">
          <label for="conf" class="loglabel">Confirm Password </label><br>
          <input type="text" id="conf" formControlName="confPass" placeholder="Confirm password" autocomplete="current-password">
          <div *ngIf="newPassForm.get('confPass')?.hasError('confirmPasswordMismatch') && newPassForm.get('confPass')?.touched">
            <label class="warne">*Passwords do not match!</label>
          </div>
        </div>
        <div *ngIf="newPassResponse!=null">
          <label class="warne" >*{{newPassResponse}}</label>
        </div>
      </div>
      <button type="submit" class="formbutton">Submit</button>
    </form>
    <button class="formbutton" (click)="onBack()">Back</button>
  </div>
</div>


